{
  box-sizing: 20%;
  text-align: top left;
}
button {
    border-bottom: 5px solid black;
    font-size: 18px;
    padding: 1px;
    color: white;
    text-align: center;
    margin-left: right;
}

img{
    margin-left: right center;
    }
body{
  background-image: url("Brown-brick-wall.jpg");
  height: auto;
  width: absolute;
  position: absolute;
  top: absolute;
  left:absolute ;
  color: white;
  max-width:absolute;
  height: absolute;
}
div {
h2 
  padding: 5px;
  margin-bottom: 3px;
  color: white;
  float: top right;
}
.section{ 
  text-align: center;
 }